body {
    font-family: 'Morris Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.body-txt {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 5px; /* Adjust this as needed */
    width: 90%;
    padding: 15px 0;
}

/* Specifically for the greeting message */
.greeting-message {
    margin-bottom: -20px; /* Reduces the space below the text */
    margin-top: 40px;
    background-color: #e3e3e3; /* Light grey background */
    padding: 10px;             /* Adds spacing inside the box */
    border: 2px solid #ccc;     /* Optional: A subtle border around the box */
    border-radius: 8px;         /* Optional: Rounded corners */
    width: 90%;                 /* Adjusts the width */
    text-align: center;         /* Centers the text inside */
    font-size: 40px;            /* Adjust the font size */
}


.fullscreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/statistine.jpg');
    background-size: cover;
    background-position: center;
    height: 825px;
    width: 1475px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.parchment {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/parchment.png");
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    margin-top: -60px;
}

}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-img {
    width: 370px;
    height: 400px;
}

.button-txt {
    font-family: 'Morris Roman', sans-serif;
    font-size: 30px;
    color: blue;
    font-weight: bold;
    margin: 5px 0;
}
