body {
    font-family: 'Morris Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.body-txt {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 5px; /* Adjust this as needed */
    width: 90%;
    padding: 15px 0;
}

/* Specifically for the greeting message */
.greeting-message {
    margin-bottom: -20px; /* Reduces the space below the text */
}


.fullscreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/statistine.jpg');
    background-size: cover;
    background-position: center;
    height: 825px;
    width: 1475px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.parchment {
    .parchment {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 540px;
    padding: 70px;
    background-image: url("./assets/parchment.png");
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    margin-top: -20px; /* Reduces space between parchment and the previous element */
}

}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-img {
    width: 370px;
    height: 400px;
}

.button-txt {
    font-family: 'Morris Roman', sans-serif;
    font-size: 30px;
    color: blue;
    font-weight: bold;
    margin: 5px 0;
}
